.settings
CMakeFiles
generated
pico-sdk
pioasm

dis
elf2uf2

.cproject
.project
Makefile
cmake_install.cmake

*.elf
*.map
*.bin
*.dis
*.hex
*.uf2
*.lst

*ninja*.*
*ninja*


/*.txt
# ! src/CMakeLists.txt

CMakeCache.txt
/build/
